@import "../node_modules/bootstrap/scss/bootstrap.scss";


// Variables pour les médias : map
$breakpoints:(
    large-mobile:570px,
    tablet:740px,
    desktop:1024px,
    large-desktop:1240px
);

// Mixin intégration des médias 
@mixin large-mobile{
    @media screen and (max-width:map-get($breakpoints,large-mobile)){
        @content;
    }
}
@mixin tablet{
    @media screen and (max-width:map-get($breakpoints,tablet)){
        @content;
    }
}
@mixin desktop{
    @media screen and (max-width:map-get($breakpoints,desktop)){
        @content;
    }
}
@mixin large-desktop{
    @media screen and (max-width:map-get($breakpoints,large-desktop)){
        @content;
    }
}

$widthImageDesktop:270px;
$heightImageDesktop:200px;

.image--dim {
    max-width: $widthImageDesktop;
    height: $heightImageDesktop;
    @include tablet{
        max-width:$widthImageDesktop*0.66;
        height:$heightImageDesktop*0.66;
    }
}

.box{
    &__product{
        border: 2px solid blue;
        margin: 20px 0px;
        padding-top: 10px;
        padding-bottom:10px;
        cursor: pointer;
    }
    &__title{
        border: 1px dashed grey ;
    }
}

.price{
    border: 1px dashed red;
}

.formBlock{
    display:none;
}
