@import "../node_modules/bootstrap/scss/bootstrap.scss";

.image--dim {
    max-width: 270px;
    height: auto;
}

.box{
    &__product{
        border: 2px solid blue;
        margin: 20px 0px;
        padding-top: 10px;
        padding-bottom:10px;
        cursor: pointer;
    }
    &__title{
        border: 1px dashed grey ;
    }
}

.price{
    border: 1px dashed red;
}

.formBlock{
    display:none;
}